#multishipping .multishipping_logo_img{
	margin-right: 15px;
	margin-bottom: 15px;
}
#multishipping .multishipping_inline {
	display: inline;
}
#multishipping .multishipping_grey {
	color:grey;
}

#multishipping .hide {
	display: none;
}

#multishipping .shipping_methods {
	width: 150px;
}



#multishipping .grid table.border {
    border: 1px solid #CBD3D4;    
}

#multishipping .grid table.border tr {
    background: #fff;
}

#multishipping .grid table.border tr.headings {
    background: #eee;
}

#multishipping .grid table.border th {
    text-align: center;
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding-right: 5px;
    padding-left: 5px;
}
#multishipping .grid table.border td {
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
}